.Hidden {
    visibility:hidden;
    display: none;
}
.Visible {
    visibility: visible;
}

.cardSize{
    margin :20px;
    border-radius: 10%;
    width :70%;
}
.Container{
    align-self: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width : 70%;
    display: flex;
  align-items: center;
}
.footerButton{
    float :right;
    margin-left:  10px;
}

.TabContainer {
    border : 1px double black ;
    overflow-y: auto;
    width : 400px;
    height : 350px;
}

.inlineAll{
    display: inline-flex;
}