
.picnicForm{
    width : 90%;
    margin : auto;
    margin-top: 10px;
}
.cardSize{
    margin :20px;
    border-radius: 25%;
}

.Container{
    align-self: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width : 60%;
    display: flex;
  align-items: center;
}
.btnContainer{
    display :inline-block;
    margin: 4px;
}
.submitButton{
    background-color:#f1bb4e;
}
.CommonButton{
        padding:0.3em 1.2em;
        margin:0 0.1em 0.1em 0;
        border:0.16em solid rgba(255,255,255,0);
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#FFFFFF;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        text-align:center;
        transition: all 0.2s;
}

.CommonButton:hover{
    border-color: rgba(255,255,255,1);
}
.cancelButton{
    background-color: grey;
}
.packButton{
    background-color: purple;
}
.delButton{
    background-color: red;
}
.newButton{
    background-color: darkgreen;
}
.footerButton{
    float :right;
    margin-left:  10px;
}
.insideTab{
    padding-left : 5px;
}
.TabContainer {
    border : 1px double black ;
    overflow-y: auto;
    overflow-x: none;
    width : 550px;
    height : 250px;
    background-color: whitesmoke;
    padding : 3px;
}

.inlineAll{
    display: inline-flex;
}
.wholePage {
    margin :5px;
}
html, body{
    padding: 0;
    margin: 0;
  }
html{
    height: 100%;
  }

body{
    background: url("https://us.123rf.com/450wm/aluna1/aluna11512/aluna1151200245/49518746-stock-vector-background-abstract-green-grass-picnic-basket-hamburger-drink-vegetables-baseball-ball-frame-illustr.jpg?ver=6");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height : 100%;
    padding-left: 20px;
}
.date{
    margin-left: 40px;
}
.center {
    margin : 0 auto;
    margin-left: 50px;
}
.weatherDate{
    float: right;
    align-items: center;
}
.splitLeft {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 5px;
  }
  .splitRight {
    height: 100%;
    width: 30%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 5px;
    right:0;
    position: initial;

  }