.address {
    margin-left: 75px;
}
.addr{
    width : 400px;
}
.name {
    margin-left: 4px;
    width : 400px;
}

.details {
    height: 200px;
    width : 200px;
    overflow: auto;
    padding-left: 3px;
    margin-right: 10px;
}

.rightFloat{
    float : right;
    display: flex;
    flex-direction: column;
}